
<div class="card mx-auto" style="width: 38rem;">
<img class="card-img-top" src="./media/laurel_selfie.jpg" alt="Photo of Laurel and her dog, Georgie"></img>
    <div class="card-body">
      <h5 class="card-title">Hi, I'm Laurel Thorburn</h5>
      <p class="card-text">
          Thank you for taking time to explore my website. I am really excited about the opportunity to intern at Shopify and enjoyed being able to showcase my passion for coding. I take a lot of pride in the things I code, so please drop by my <a href="https://github.com/laurelthorburn">github</a> to see some of my other creations! Want to learn more? See below...
          </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Github | Resume | Contact Me</small>
    </div>
    </div>

<footer>
    <a href="/"><button id="render-more" class="button-reload" role="button"> Take me back </button></a>
    </footer>