
{{!-- row one of two, featuring two responsive bootstrap cards --}}
    <div class="container">
        <div class="row mx-auto">

        <span data-nasa-card></span>
       
        </div>
    </div>
  

  
