
{{!-- row one of two, featuring two responsive bootstrap cards --}}
    <div class="container">
        <div class="row">

            <div class="col-lg-6 mb-4">

                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/26/14/07/space-3262811_960_720.jpg" alt="title">
  
                    <div class="card-body">
                        <h5 class="card-title">Cassini Images Density Waves in Saturn's Rings <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a></h5>
  
                        <a href="#" class="btn btn-outline-primary btn-block">
                            Learn More...
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/26/14/07/space-3262811_960_720.jpg" alt="">
  
                    <div class="card-body">
                                                <h5 class="card-title">Title <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a></h5>
                          
                        <a href="#" class="btn btn-outline-primary btn-block">
                            Learn More...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

{{!-- row two of two, featuring two responsive bootstrap cards --}}
    <div class="container">
        <div class="row">

            <div class="col-lg-6 mb-4">

                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/26/14/07/space-3262811_960_720.jpg" alt="">
  
                    <div class="card-body">
                                                <h5 class="card-title">Title <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a></h5>

  
                        <a href="#" class="btn btn-outline-primary btn-block">
                            Learn More...
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/03/26/14/07/space-3262811_960_720.jpg" alt="">
  
                    <div class="card-body">
                                                <h5 class="card-title">Title <a href="#" class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-heart"></i></a></h5>
                          
                        <a href="#" class="btn btn-outline-primary btn-block">
                            Learn More...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
